certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
colorzero==2.0
diskcache==5.6.3
flatbuffers==25.12.19
gpiozero==2.0.1
idna==3.13
Jinja2==3.1.6
lgpio==0.2.2.0
llama_cpp_python==0.2.90
MarkupSafe==3.0.3
numpy==2.2.6
onnxruntime==1.26.0
opencv-python-headless==4.12.0.88
packaging==26.2
pillow==12.1.1
piper-tts==1.4.1
protobuf==7.34.1
pycparser==3.0
pygame==2.6.1
PyMuPDF==1.27.2
pytesseract==0.3.13
requests==2.33.1
RPi.GPIO==0.7.1
sounddevice==0.5.2
soundfile==0.13.1
srt==3.5.3
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.7.0
vosk==0.3.45
websockets==16.0
